@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700;800;900&family=Nunito:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NavBar CSS */

button.loginButton {
  background-color: #EDEDED;
  border: none;
  border-radius: 5px;
  padding: 8px 28px 9px 28px;
  font-family: Barlow;
  font-weight: 800;
  font-size: 16px;
  margin-top: 10px;
  color: #4D4D4D
}

button.signUpButton {
  background-color: #FFC93E;
  border: none;
  border-radius: 5px;
  padding: 8px 28px 9px 28px;
  font-family: Barlow;
  font-weight: 800;
  font-size: 16px;
  margin-top: 10px;
  color: #4D4D4D
}

/* LoginScreen CSS */
.homepageWrap{
  margin: auto;
  width: 100%;
  margin-top: 60px;
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 90px;
}

.getStartedImg{

}

.welcomeTextContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}

.welcomeToBrainSync {
  text-align: center;
  font-family: 'Baloo Thambi 2';
  font-size: 32px;
  color: #292929;
  margin-bottom: 5px;
}

.studySmarter {
  text-align: center;
  margin-top: 0px;
  margin-bottom: -5px;
  font-family: 'Baloo Thambi 2';
  font-size: 24px;
  color: #9D9D9D;
}

.notLonger {
  text-align: center;
  margin-top: 0px;
  font-family: 'Baloo Thambi 2';
  font-size: 24px;
  color: #9D9D9D;
}

.getStartedButtonContainer{
  display: flex;
  justify-content: center;
  align-content: center;
}

.getStartedButton{
  width: 300px;
  height: 50px;
  background-color: #FFC93E;
  border: none;
  border-radius: 5px;
  padding: 8px 28px 9px 28px;
  font-family: 'Baloo Thambi 2';
  font-weight: 800;
  font-size: 18px;
  margin-top: 10px;
  color: #4D4D4D;
  cursor: pointer;
}

.getStartedSignInContainer{
  display: flex;
  justify-content: center;
  align-content: center;
}

.alreadyHaveAccount{
  margin: auto;
  justify-content: center;
  align-content: center;
  margin-right: 2px;
  margin-top: 20px;
  color: #BDBDBD;
  font-weight: 700;
  font-family: 'Baloo Thambi 2';
}

.getStartedSignIn {
  justify-content: center;
  align-content: center; 
  margin: auto;
  margin-left: 2px;
  margin-bottom: 0px;
  color: #FFC93E;
  text-decoration: none;
  font-family: 'Baloo Thambi 2';
  font-weight: 600;
}

/* SignUp CSS */

.signUpDescWrap {
  margin: auto;
  width: 100%;
  margin-top: 60px;
}

.signUpDescContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.createAccountTitle {
  text-align: center;
  font-family: 'Baloo Thambi 2';
  font-size: 32px;
  color: #292929;
  margin-bottom: 0px;
}

.createAccountDesc {
  text-align: center;
  margin-top: 0px;
  margin-bottom: -5px;
  margin: auto;
  font-family: 'Baloo Thambi 2';
  font-size: 18px;
  font-weight: 500;
  color: #9D9D9D;
  width: 200px;
}

.signupInputField {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
}

.userNameSignupInput {
  width: 250px;
  height: 30px;
  background-color: #F3F3F3;
  border: none;
  border-radius: 10px;
  padding: 8px 28px 9px 28px;
  font-family: 'Baloo Thambi 2';
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  color: #000;
  cursor: pointer;
}

.placeholder.userNameSignupInput{
  color: #9D9D9D;
}

.emailSignupInput {
  width: 250px;
  height: 30px;
  background-color: #F3F3F3;
  border: none;
  border-radius: 10px;
  padding: 8px 28px 9px 28px;
  font-family: 'Baloo Thambi 2';
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  color: #000;
  cursor: pointer;
}

.placeholder.emailSignupInput{
  color: #9D9D9D;
}

.passwordSignupInput {
  width: 250px;
  height: 30px;
  background-color: #F3F3F3;
  border: none;
  border-radius: 10px;
  padding: 8px 28px 9px 28px;
  font-family: 'Baloo Thambi 2';
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  color: #000;
  cursor: pointer;
}

.placeholder.passwordSignupInput{
  color: #9D9D9D;
}

.signUpTermsCont {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 300px;
  font-size: 14px;
  margin: auto;
  margin-top: 40px;
}

.signUpTerms{
  margin: auto;
  justify-content: center;
  align-content: center;
  margin-right: 2px;
  margin-top: 20px;
  color: #9D9D9D;
  font-weight: 500;
  font-family: 'Baloo Thambi 2';

}

.signUpTermsLink{
  margin: auto;
  justify-content: center;
  align-content: center;
  margin-right: 2px;
  margin-top: 20px;
  color: #292929;
  font-weight: 500;
  font-family: 'Baloo Thambi 2';
}

.signUpPrivacyPolicyLink{
  margin: auto;
  justify-content: center;
  align-content: center;
  margin-right: 2px;
  margin-top: 20px;
  color: #292929;
  font-weight: 500;
  font-family: 'Baloo Thambi 2';
}

.signUpSubmitCont{
  display: flex;
  justify-content: center;
  align-content: center;
}

.signUpSumbitButton{
  width: 300px;
  height: 50px;
  background-color: #FFC93E;
  border: none;
  border-radius: 5px;
  padding: 8px 28px 9px 28px;
  font-family: 'Baloo Thambi 2';
  font-weight: 800;
  font-size: 18px;
  margin-top: 10px;
  color: #292929;
  cursor: pointer;
}

/* SignIn CSS */

.signInDescWrap {
  margin: auto;
  width: 100%;
  margin-top: 60px;
}

.signInDescContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.signInTitle {
  text-align: center;
  font-family: 'Baloo Thambi 2';
  font-size: 32px;
  color: #292929;
  margin-bottom: 0px;
}

.signInDesc {
  text-align: center;
  margin-top: 0px;
  margin-bottom: -5px;
  margin: auto;
  font-family: 'Baloo Thambi 2';
  font-size: 18px;
  font-weight: 500;
  color: #9D9D9D;
  width: 200px;
}

.signInInputField {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
}

.emailSignInInput {
  width: 250px;
  height: 30px;
  background-color: #F3F3F3;
  border: none;
  border-radius: 10px;
  padding: 8px 28px 9px 28px;
  font-family: 'Baloo Thambi 2';
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  color: #000;
  cursor: pointer;
}

.placeholder.emailSignInInput{
  color: #9D9D9D;
}

.passwordSignInInput {
  width: 250px;
  height: 30px;
  background-color: #F3F3F3;
  border: none;
  border-radius: 10px;
  padding: 8px 28px 9px 28px;
  font-family: 'Baloo Thambi 2';
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  color: #000;
  cursor: pointer;
}

.placeholder.passwordSignInInput{
  color: #9D9D9D;
}

.signInTermsCont {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 300px;
  font-size: 14px;
  margin: auto;
  margin-top: 40px;
}

.signInTerms{
  margin: auto;
  justify-content: center;
  align-content: center;
  margin-right: 2px;
  margin-top: 20px;
  color: #9D9D9D;
  font-weight: 500;
  font-family: 'Baloo Thambi 2';

}

.signInTermsLink{
  margin: auto;
  justify-content: center;
  align-content: center;
  margin-right: 2px;
  margin-top: 20px;
  color: #292929;
  font-weight: 500;
  font-family: 'Baloo Thambi 2';
}

.signInPrivacyPolicyLink{
  margin: auto;
  justify-content: center;
  align-content: center;
  margin-right: 2px;
  margin-top: 20px;
  color: #292929;
  font-weight: 500;
  font-family: 'Baloo Thambi 2';
}

.signInSubmitCont{
  display: flex;
  justify-content: center;
  align-content: center;
}

.signInSumbitButton{
  width: 300px;
  height: 50px;
  background-color: #FFC93E;
  border: none;
  border-radius: 5px;
  padding: 8px 28px 9px 28px;
  font-family: 'Baloo Thambi 2';
  font-weight: 800;
  font-size: 18px;
  margin-top: 10px;
  color: #292929;
  cursor: pointer;
}